* {
    margin: 0;
    padding: 0;
}

:root {
    --navtxt-color: rgb(126, 120, 120);
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

header #index {
    width: 100vw;
    height: 85vh;
}

a {
    text-decoration: none;
    color: var(--navtxt-color);
}

nav {
    width: 100%;
    box-shadow: 0px 0px 9px 4px rgb(112, 112, 112);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
}

nav .nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .nav-top .nav-logo { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 0px;
    
 }
nav .nav-top .nav-logo img {
    width: 110px;
    height: 80px;
    margin: 10px 20px 0px 20px;

}




nav .nav-top .nav-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 100px;
}

/* start search box */
form {
    margin: 30px;
    background-color: rgb(175, 175, 175);
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px !important;
    height: 44px !important;
}

path.path1 {
    width: 20px;
    height: 20px;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

/* end search box */
.nav-top .nav-icons {
    display: flex;
    flex-direction: row;
}

.nav-top .nav-icons>a {
    text-align: center;
}

.nav-top .nav-icons a>.bx {
    font-size: 2.3rem;
    color: var(--navtxt-color);
    margin-top: 20px;
}

.nav-top .nav-icons a>.bx:hover {
    color: rgb(7, 201, 7);
}

nav .nav-bottum {
    flex-wrap: wrap;
}

nav .nav-bottum ul {
    width: 100vw;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

nav .nav-bottum div>ul>li>a {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
    transition: all .3s;
    line-height: 40px;
    text-align: center;
    margin: 0px 10px;
    transition: 1s;
}

nav .nav-bottum div>ul>li>a:hover {
    border-bottom: 4px solid rgb(7, 201, 7);

}

nav .nav-bottum div ul>li>a>i {
    line-height: 30px;
    text-align: center;
    padding-left: 10px;
    font-size: 25px;

}

nav .nav-bottum div ul>li>a>i:hover {
    color: rgb(7, 201, 7);
}

nav .nav-bottum div ul>li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 98%;
    background-color: rgb(255, 255, 255);
    color: var(--navtxt-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 0;
    margin-top: 15px;
    transition: all .2s;
    box-shadow: 0px 5px 20px 0px rgb(112, 112, 112);
    border-radius: 0px 0px 24px 24px;
}

nav .nav-bottum div ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

nav .nav-bottum div ul>li>ul>li {
    font-size: 20px;
    font-weight: 600;
    transition: all .3s;
    line-height: 40px;
    text-align: center;
    margin: 0px 20px;
}

nav .nav-bottum div ul>li>ul>li:hover a {
    color: rgb(7, 201, 7);
    border-right: 2px solid rgb(7, 201, 7);
    padding: 8px;
}

header>section {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    max-height: 600px;
    display: grid;
    gap: 0px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.banner>div {
    overflow: hidden;
    margin: 20px 30px;
    gap: 20px;
    border-radius: 20px;
}

.banner>div>a>img {
    width: 100%;
    display: block;
    height: 100%;
}

.banner-item1 {
    grid-area: 1/1/3/4;
}


/* start offer section */
section #offer {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#offer .offer-name {
    color: var(--navtxt-color);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
}

#offer .all {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#offer .all>a {
    color: rgb(7, 201, 7);
    font-size: 24px;

    padding-left: 40px;
}

section.offer-cards {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0px;
    /* margin-right: 35px; */
    /* padding: 20px; */
    /* margin: 0px 70px; */
}

section.offer-cards .offer-items .img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.offer-cards .offer-items img {
    width: 100%;
    height: 100%;
}

#offer .offer-cards .offer-items {
    width: 230px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(137, 136, 136);
    border-radius: 10px;
    position: relative;
}

#offer .offer-cards .offer-items:hover {
    border: 2px solid rgb(7, 201, 7);
}

#offer .offer-cards .offer-items .special-offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    top: 10px;
    padding: 5px;
    position: absolute;
    border: 2px solid rgb(7, 201, 7);
    border-radius: 3px;
    color: rgb(7, 201, 7);
    text-align: center;
}

#offer .offer-cards .offer-items .offer-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    top: 12px;
    left: 10px;
    padding: 5px;
    position: absolute;
    color: rgb(7, 201, 7);
    text-align: center;
}

#offer .offer-cards .offer-items>h4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#offer .offer-cards .offer-items .off-percent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    right: 15px;
    bottom: 35px;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(7, 201, 7);
    color: white;
    text-align: center;
}

#offer .offer-cards .offer-items .price {
    display: flex;
    font-size: 21px;
    font-weight: 600;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 35px;
    padding-right: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}

#offer .offer-cards .offer-items .khat {
    display: flex;
    font-size: 17px;
    font-weight: 500;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7px;
    padding-right: 70px;
    padding-bottom: 7px;
    color: rgb(110, 110, 110);
    text-align: center;
}

/* end offer */
/* start proposal */

#proposal .proposal-name {
    color: var(--navtxt-color);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
}

section.proposal-cards {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0px;

    /* margin-right: 35px; */
    /* padding: 20px; */
    /* margin: 0px 70px; */
}

section.proposal-cards .proposal-items .img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.proposal-cards .proposal-items img {
    width: 100%;
    height: 100%;
}

#proposal .proposal-cards .proposal-items {
    width: 230px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(137, 136, 136);
    border-radius: 10px;
    position: relative;
}

#proposal .proposal-cards .proposal-items:hover {
    border: 2px solid rgb(7, 201, 7);
}

#proposal .proposal-cards .proposal-items>h4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#proposal .proposal-cards .proposal-items .proposal-price {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 35px;
    padding-right: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* end proposal */
/* start banner2 */
.banner2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3%;
}

.banner2>div {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 20px;
}

.banner2>div>img {
    width: 100%;
    display: block;
    height: 100%;
}

.banner2-item1 {
    grid-area: 1/1/2/2;
}

/* end banner2 */
/* start popular */

#popular .popular-name {
    color: var(--navtxt-color);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
    margin-top: 20px;
}

#popular .popular-cards {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0px;
}

#popular .popular-cards .popular-items {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 100px;
    position: relative;
    color: black;
    font-size: 20px;
    text-align: center;
}



#popular .popular-cards .popular-items .popular-caption {
    margin-top: 25px;
    font-size: 22px;
}

section.popular-cards .popular-items .img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.popular-cards .popular-items img {
    width: 100%;
    height: 100%;
}

#popular .popular-cards .popular-items:hover {
    color: rgb(7, 201, 7);
}

/* end popular */

/* start banner3 */

.banner3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3%;
    margin-bottom: 3%;
}

.banner3>div {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 20px;
}

.banner3>div>img {
    width: 100%;
    display: block;
    height: 100%;
}

.banner3-item1 {
    grid-area: 1/1/2/2;
}

/* end banner3 */

/* start footer */

footer #logo-adress {
    border-top: 2px solid rgb(171, 171, 171);
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    /* padding: 10px; */

}

footer :last-child {
    border-right: none
}

footer #logo-adress ul {
    padding: 10px;
    width: auto;
    padding: 0px 40px;
    text-align: right;
    border-right: 3px solid rgb(7, 201, 7);
}

footer ul h4 {
    font-size: 20px;
    line-height: 20px;
    width: 150px;
    margin: 0 auto;
    text-align: right;

}

footer {
    padding: 30px 0px;
}

footer ul li {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

footer #logo-adress>.bx {
    padding: 0px 20px;
}

footer #logo-adress .exo-logo {
    padding: 0px 20px;
    margin: 0px 30px;
}

footer #footer-information {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-right {
    flex-wrap: wrap;
}

footer .footer-right ul {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 200px;
    position: relative;
}

footer .footer-right div ul li a {
    font-size: 24px !important;
    font-weight: 600;
    padding: 10px 0px;
    transition: all .3s;
    text-align: center;
    border-radius: 24px solid black;
}

footer .footer-right div>ul>li>a:hover {
    color: black;
}

footer .footer-right div ul>li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    color: var(--navtxt-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    gap: 0;
    transition: all .2s;
}

footer .footer-right div ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

footer .footer-right div ul>li>ul>li {
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
    line-height: 30px;
    text-align: center;
}

footer .footer-right div ul>li>ul>li:hover a {
    color: rgb(7, 201, 7);
}

footer .footer-left .footer-items-left {
    margin-top: 30px;
}

footer .footer-left .footer-items-left a {
    font-size: 32px;
    margin: 0px 8px;
    padding: 0px 10px;
}

footer .footer-left .footer-items-left a:hover i {
    color: rgb(7, 201, 7);

}

footer .copyright {
    margin: 40px;
    font-size: 24px;
    text-align: center;
}



/* about page */


/* main > #about{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

main > #about .about-exo-text a{
font-size: 20px;
}
main > #about .about-exo-text a:hover{
    color: rgb(7, 201, 7);
}
main > #about .about-exo-text img{
    width: 50%;
    height: 50%;
}

main > #about .about-exo-text .exo-v2-logo{
    width: 400px;
    height: 100px;
}
main > #about .about-exo-text .photo-mouse-pad{
    width: 400px;
    height: 100px;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end !important;
        align-items: flex-end !important;
        right: 0px;
        width: 100vw;
    }

    nav .nav-bottum div ul>li ul {
        width: 98%;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    form {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-bottum {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
    }

    .banner {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-height: 90vh;
    }

    .banner>div {
        overflow: hidden;
        margin: 20px 30px;
        gap: 20px;
        border-radius: 20px;
    }

    .banner>div>a>img {
        width: 100%;
        /* display: block; */
        height: 100%;
    }

    .banner2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner2>.banner2-item1 {
        overflow: hidden;
        margin: 0px 10px;
        gap: 20px;
        border-radius: 20px;
    }

    .banner2>.banner2-item2 {
        display: block;
        overflow: hidden;
        margin: 0px 10px;
        gap: 20px;
        border-radius: 20px;
    }

    .banner2>img {
        width: 100%;
        display: block;
        height: 100%;
    }

    .banner3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner3>.banner3-item1 {
        overflow: hidden;
        margin: 0px 10px;
        gap: 20px;
        border-radius: 20px;
    }

    .banner3>.banner3-item2 {
        display: block;
        overflow: hidden;
        margin: 0px 10px;
        gap: 20px;
        border-radius: 20px;
    }

    .banner3>img {
        width: 100%;
        display: block;
        height: 100%;
    }

    #popular .popular-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #popular .popular-cards .popular-items {
        height: 150px;
        margin: 30px;
    }

    #logo-adress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo-adress .exo-logo {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: 50px !important;
    }

    #logo-adress ul {
        margin-bottom: 50px !important;
    }

    footer #logo-adress .namad-logo {
        margin-right: 25%;
        padding: 50px 20px;
        border: 2px solid rgb(175, 175, 175);
        border-radius: 10px;
    }

    #popular .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #popular .popular-cards .popular-items {
        height: 150px;
        margin: 30px;
    }
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    footer #logo-adress .namad-logo {
        /* margin-right: 25%; */
        /* padding: 50px 20px; */
        border: 2px solid rgb(175, 175, 175);
        border-radius: 10px;
    }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    section.popular-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        margin-right: 35px;
        padding: 30px;
        margin: 20px 70px;
    }

    footer #logo-adress .namad-logo {
        padding: 0px 20px;
        margin: 0px 250px 0px 20px;
        border: 2px solid rgb(175, 175, 175);
        border-radius: 10px;
    }

    nav {
        position: fixed;
        z-index: 1000;
    }

    .banner {
        margin-top: 11%;
    }
}